.blog-elements {
    padding-top: calc(12vh + 10px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blog-elements > h2 {
    color: #163036;
    font-size: 30px;
}

.blog-elements > * {
    flex: 100%;
    margin: 5px 20px;
}

.blog-element {
    background-color: #589BA4;
    width: 90vw;
    height: max-content;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.blog-element img {
    height: auto;
    width: 100%;
}

.blog-element h2 {
    padding: 8px;
    font-size: 20px;
}

.blog-element span {
    display: flex;
    width: calc(100%-20px);
    justify-content: space-between;
    padding: 0 10px 10px 10px;
    color: #272727;
}

.blog-element span p {
    color: #9dc5ca;
}

.article-description {
    display: none;
}

@media only screen and (min-width: 1020px) {
    .blog-element {
        height: 40vh;
        overflow: hidden;
        display: flex;
    }

    .blog-element img {
        height:100%;
        width: auto;
        display: inline-block;
    }

    .text-info {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .article-description {
        display: block;
        padding: 10px;
        margin-bottom: -5px;
        margin-top: -15px;

    }

}